html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
}

*,
::before,
::after {
  box-sizing: border-box;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  color: white;
  font-family: "Georama", sans-serif;
  font-size: large;
}

em {
  color: hsl(333deg, 100%, 52%);
  font-weight: bold;
}

a {
  color: hsl(230deg, 100%, 67%);
  font-weight: bold;
  cursor: pointer;
}

h4 {
  margin-bottom: 2rem;
}

p {
  margin-bottom: 2rem;
}

.container-fluid {
  background: linear-gradient(#181124, #222222);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
}

.container {
  width: 800px;
}

.content {
  width: 800px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.controls label {
  font-size: 2em;
  margin-bottom: 1em;
}

.controls > div > div {
  margin: 3em 0;
}

.controls input[type="range"] {
  display: block;
  -webkit-appearance: none;
  height: 2em;
  width: 90%;
}

.controls input[type="checkbox"] {
  height: 3em;
  width: 3em;
  margin: 1em;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 3em;
  height: 3em;
  background: hsl(333deg, 100%, 52%);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 3em;
  height: 3em;
  background: hsl(333deg, 100%, 52%);
  cursor: pointer;
}

.controls div {
  width: 100%;
}

.fancy-button {
  background: hsl(333deg, 100%, 20%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  width: 100%;
}

.front {
  display: block;
  padding: 40px;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: bold;
  background: hsl(333deg, 100%, 52%);
  color: white;
  transform: translateY(-16px);
}

.fancy-button:active .front {
  transform: translateY(2px);
}

#p5-container {
  align-items: center;
  display: flex;
  height: 450px;
  justify-content: center;
  width: 800px;
}
